<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/player/update' method="POST">
        <label for="name">name:</label>
        <input type="text" id="tx" name="name" required>
        <label for="tx">transform_x:</label>
        <input type="text" id="tx" name="transform_x" required>
        <label for="ty">transform_y:</label>
        <input type="text" id="ty" name="transform_y" required>
        <label for="tz">transform_z:</label>
        <input type="text" id="tz" name="transform_z" required>
        <button>Submit</button>
    </form>
</body>
</html>